@import url(uno.css);
@import url(monokai.css);

/* Modifications */

pre.highlight,
.highlight pre {
  padding: 10px;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

.btn, 
.navigation__item a {
  margin: 5px 0;
  white-space: nowrap;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories a,
.tags a {
  border: 1px solid #e25440;
  border-radius: 20px;
  color: #e25440;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.post-meta__tags {
  font-size: 12px;
  padding: 0 5px;
}

.footer__copyright {
    margin: 0 20px 10px;
}

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius:100%;
}


/* CUSTOM Pablo Reyes */
/* Basics */
h2, h3, h4{
    font-weight:bold;
}

/* Sidebar */
.panel-cover, .panel-cover.panel-cover--collapsed{
    background-image: none;
    background: #2B6181;
}
.panel-cover--collapsed {
    width: 25%;
    max-width: 530px;
}
.content-wrapper{
    width: 75%;
    max-width: 100%;
    margin-left: 25%;
}


@media (min-width: 1300px){
    .content-wrapper {
        margin-left: 25%;
    }
}
.content-wrapper__inner {
    margin: 0 5%;
}
.panel-main{
    padding-top: 60px;
}
.panel-main__inner{
    padding: 0;
    vertical-align: top;
}

.panel-subtitle{
    font-weight: bold;
    font-size: 1.5em;
}

ul.panel-section{
    list-style: none;
    margin: 0;
}

ul.panel-section .panel-section-entry a{
    display: block;
    line-height: 2em;
}
ul.panel-section .panel-section-entry a:hover{
    background-color: #b9301c;
    -webkit-transition: none;
}

table{
    border-collapse: collapse;
    text-align: left;
    margin: 20px;
    border: 1px solid #999
}

table th{
    font-size: 16px;
    padding: 5px 8px;
    font-weight: bold;
    border: 1px solid #999;
    background-color: #e5e5e5;

}
table tr{
    border: 1px solid #999;
}
table tr td{
    padding: 5px 8px;
    border: 1px solid #999
}




.post-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    clear: both;
}

.post-list-featured{
    background-color: rgba(226, 84, 64, 0.15);
    padding: 1em;
    margin-bottom: 1em;
}

.post-list li {
    width: 32%;
    height: 270px;
    background-color: #444;
    overflow: hidden;
    margin-bottom: 1em;
    position: relative;
    color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.43)
}

.post-list li .post-title-and-excerpt{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
}

.post-list li .excerpt{
    color: #ccc;
}


.post-list li .post-list__meta{
    position: absolute;
    bottom: 0;
}
.post-list li .post-title{
    color: #fff;
    font-weight: bold;
}
.post-list li:hover{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.post-list li a{
    display: block;
    width: 100%;
    height: 100%;
}



.post-list-2{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.post-list-2 hr{
    width: 70%;
    height: 1px;
    background-color: #666;
}
.post-list-2 .post-entry{
    margin: 2em auto;
}
.post-list-2 .post-title{
    font-size: 2em;
    font-family: 'Lora', serif;
    margin-bottom: 10px;
}
.post-list-2 .post-title a{
    color: #333;
    line-height: 1.3em;
}
.post-list-2 .post-meta{
    text-transform: uppercase;
    font-size: 0.6em;
    font-family: 'Lora', serif;
    margin-bottom: 2em;
}
.post-list-2 .post-excerpt{
    text-align: left;
}
.post-list-2 .post-excerpt img{
    width: 296px;
    float: left;
    margin-right: 30px;
    margin-top: 0.4em;
}
.post-list-2 .read-more a{
    padding: 10px 30px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.8em;
    background-color: #e25440;
    color: white;
}

/* Temporary disable blog and about pages */
.cover-navigation--primary{
    /*display: none;*/
}
.navigation--social{
    margin-left: 0;
}

blockquote{
    padding: 1em;
    border: 0;
    border-left: 5px solid #2B6181;
    font-size: 1em;
    margin: 1em auto;
    width: 80%;
    text-align: justify;
    border-radius: 0;
    background-color: rgba(43, 97, 129, 0.18);
    font-style: normal;
}
blockquote p{
    line-height: 1.3em;
}
blockquote p:last-child:not(:first-child){
    text-align: right;
    font-style: normal;
}

.note{
    border: 2px dashed #ff9800;
    padding: 0.5em;
    background: #fffacd;
}

/**/
.post-list li {
    position: relative;
    overflow: hidden;
}
.post-list li:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.post-list li a {
    z-index: 2;
    position: relative;
    color: #fff;
}

/* POST: Cambridge Analytica */
.post-list li#post-cambridge-analytica{
    background-color: #407bd0;
}
.post-list li#post-cambridge-analytica:before{
    background-image: url(/images/uploads/background-server.jpg);
    background-position: 10% 0;}

/* POST: Turn on red */
.post-list li#post-turn-red{
    background-color: #d0134b;
}
.post-list li#post-turn-red:before{
    background-image: url(/images/uploads/semaforos.jpg);
    background-position: 10% 0;
}

/* POST: Cambridge Analytica */
.post-list li#post-cambridge-analytica{
    background-color: #407bd0;
}
.post-list li#post-cambridge-analytica:before{
    background-image: url(/images/uploads/background-server.jpg);
    background-position: 10% 0;}

/* POST: Seguridad financiera */
.post-list li#post-seguridad-financiera{
    background-color: #4ad07e;
}
.post-list li#post-seguridad-financiera:before{
    background-image: url(/images/uploads/cerdo-monedas-ahorro.jpg);
    background-position: 10% 0;
}

/* POST: Etapas indepdendencia financiera */
.post-list li#post-etapas-libertad-financiera{
    background-color: #d0bc3e;
}
.post-list li#post-etapas-libertad-financiera:before{
    background-image: url(/images/uploads/pasos-independencia-financiera.jpg);
    background-position: 10% 0;
}

/* PAGE: Herramienta de control de gastos */
.post-list li#herramienta-control-gastos{
    background-color: #9e9e9e;
}
.post-list li#herramienta-control-gastos:before{
    background-image: url(/images/uploads/control-gastos-2.jpg);
    background-position: 10% 0;
}

.post-list li#herramienta-proyeccion-ahorros{
    background-color: #2e32a7;
}
.post-list li#herramienta-proyeccion-ahorros:before{
    background-image: url(/images/uploads/proyeccion-futuro.jpg);
    background-position: 10% 0;
}

.post-list li#proyecto-seguro-40{
    background-color: #2e32a7;
}
.post-list li#proyecto-seguro-40:before{
    background-image: url(/images/uploads/background-seguro-40.png);
    background-position: 10% 65%;
}



/* Images inside posts */
.post img{
    display:block;
}
.post img.img-left{
    display: inline-block;
    float: left;
    width: 48%;
    margin-right: 15px;
}
.post img.img-right{
    display: inline-block;
    float: right;
    width: 48%;
    margin-left: 15px;
}
.post img.img-right.no-margin{
    margin-left: 0px;
}
.post img.img-left.no-margin{
    margin-right: 0px;
}
.post img.img-right.size-20, .post img.img-left.size-20{
    width: 20%;
}
.post img.img-right.size-30, .post img.img-left.size-30{
    width: 30%;
}

.post img.img-center{
    width: 60%;
    margin: 0 auto;
}

.post img.img-center.auto-width{
    width: auto;
}

.post img.img-mini.inline{
    display: inline;
    vertical-align: middle;
}


/* Tags */
ul.tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    display: inline-flex;
    float: right;
}

a.tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    border: 0;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

a.tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

a.tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

a.tag:hover {
    background-color: #e25440;
    color: white;
}

a.tag:hover::after {
    border-left-color: #e25440;
}


/* MUEBLES */
#muebles header{
    border-bottom: 2px solid #f3b75b;
    background: rgba(0, 0, 0, 0.67);
    color: white;
    display: flex;
    align-items: center;
}

#muebles nav{
    position: static;
}

#muebles nav img{
    position: absolute;
    top: 5px;
    left: 50%;
    height: 90px;
    margin-left: -45px;
}

#muebles .site-nav ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
}
#muebles .site-nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: #CDD0D0;
    padding: 20px;
    display: inline-block;
}

#muebles .content .algo-top{
    width: 100%;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    padding-top: 32px;

}
#muebles .content .foto-left{
    width: 48%;
    float:left;
}

#muebles .content .foto-left img{
    width: 100%;
}

#muebles .content .descr-right{
    width: 48%;
    float:right;
    padding-right: 10px;
    /*border: 2px solid #ccc;*/
}

#muebles .content .descr-right h2 {
    text-align: center;
    margin-top: 5px;
}

#muebles .content .descr-right ul.elements {
    columns: 2;
}

#muebles .content .descr-right ul.elements li{
    font-size: 0.8em;

}


#muebles .content .descr-right .options {
    height: 130px;
    border-top: 1px dashed #ccc;
    padding-top: 10px
}
#muebles .content .descr-right .options .opt-now{
    float:left;
    width: 48%;
}
#muebles .content .descr-right .options .opt-subscr{
    float:right;
    width: 48%;
}

#muebles .content  .buttons-options button{
    padding: 10px;
    width: 40%;
    text-align: center;
    background-color: #f39a33;
    color: aliceblue;
    font-size: 16px;
    border: 0px;
    margin: 0 10px;
    cursor: pointer;
}
#muebles .content  .buttons-options button.buy{
    float: left;
}
#muebles .content  .buttons-options button.rent{
    float: right;
}
