{% for post in site.posts %}
    {% if include.filter_category == nil or include.filter_category == post.category %}
        {% if include.filter_featured == nil or include.filter_featured == post.featured %}

            
                <article class="post-entry" id="{{post.css_id}}">
                    <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">
                        {% if post.image %}<img src="{{post.image}}" alt="">{% endif %}
                        <div class="post-title">
                            <span>{{ post.title }}</span>
                        </div>

                        <div class="post-meta">
                            <time datetime="{{ post.date | date_to_string }}">{{ post.date | date_to_string}}</time>
                            <!-- <span class="post-category">{{post.category}}</span> -->
                        </div>

                        <div class="post-excerpt">
                            {{ post.excerpt | truncatewords: 200}}
                        </div>
                        
                        <!--<div class="read-more">
                            <a href="{{post.url}}">{% if post.cta %}{{post.cta}} {% else %} Seguir leyendo {% endif %} → </a>
                        </div>-->
                    </a>
                </article>
        {% endif %}
    {% endif %}
{% endfor %}
