{% for post in site.posts %}
    {% if include.filter_category == nil or include.filter_category == post.category %}
        {% if include.filter_featured == nil or include.filter_featured == post.featured %}

            
                <article class="post-entry"{% if post.css_id %} id="{{ post.css_id }}"{% endif %}>
                    <a href="{{ post.url | relative_url }}">
                        {% if post.image %}
                          <img
                            src="{{ post.image | relative_url }}"
                            alt=""
                            {% if forloop.first %}fetchpriority="high"{% else %}loading="lazy"{% endif %}
                            decoding="async">
                        {% endif %}
                        <div class="post-content-text">
                            <div class="post-title">
                                <span>{{ post.title }}</span>
                            </div>

                            <div class="post-meta">
                                <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date_to_string }}</time>
                                <!-- <span class="post-category">{{post.category}}</span> -->
                            </div>

                            <div class="post-excerpt">
                                {{ post.excerpt | strip_html | truncatewords: 200 }}
                            </div>
                        </div>
                    </a>
                </article>
        {% endif %}
    {% endif %}
{% endfor %}
