<!-- This is the sidebar at the left side -->
<!--<span class="mobile btn-mobile-menu">
  <i class="icon icon-list btn-mobile-menu__icon"></i>
  <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
</span>-->

<header class="panel-cover panel-cover--collapsed">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
      <div class="panel-main__content">
        <a href="{{ '/' | relative_url }}" aria-label="Inicio de {{ site.title }}">
          <p class="panel-cover__title panel-title">Pablo Reyes</p>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">
          Software, tecnología, producto y las cosas que construyo.
        </p>

	        <div class="navigation-wrapper">
	          <nav class="cover-navigation">
	            <ul class="navigation">
	              <li class="navigation__item">
	                <a href="{{ '/' | relative_url }}"{% unless page.url contains '/about/' %} class="active" aria-current="page"{% endunless %}>Artículos</a>
	              </li>
	              <li class="navigation__item">
	                <a href="{{ '/about/' | relative_url }}"{% if page.url contains '/about/' %} class="active" aria-current="page"{% endif %}>Proyectos</a>
	              </li>
	            </ul>
	          </nav>
	        </div>

      </div>

    </div>
  </div>
</header>
