// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.


$color_black: rgba(0, 0, 0, 0.84);
$color_blue: #254c73;
$color_gray_light: #c7c7c7;
$color_gray: #595858;


$font_size_smallest: 0.6em;
$font_size_smaller: 0.6em;
$font_size_small: 0.8em;
$font_size_normal: 1em;
$font_size_large: 1.2em;
$font_size_larger: 1.6em;
$font_size_largest: 1.8em;



body {
    font-family: Georgia;
    font-size: 21px;
    line-height: 1.5;
    color: $color_black;
    background-color: #fff;
  }

  h1,
h2,
h3,
h4,
h5,
h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{ 
    font-size: $font_size_largest;
}
h2{ 
    font-size: $font_size_larger;
}
h3{ 
    font-size: $font_size_large;
}

a {
    color: $color_blue;
    text-decoration: underline;
}

blockquote{
    padding: 0.5em;
    font-family: inherit;
    font-size: $font_size_normal;
}


blockquote {
    // margin: 0 auto;
    padding: 1em;
    border-left: 5px solid $color_blue;
    text-align: left;

    &:before {
        display: none;
    }
    p{
        font-family: 'PT Serif', Cambria, 'Hoefler Text', Utopia, 'Liberation Serif', 'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
    }
    cite{
        font-size: $font_size_small;
        font-style: normal;
        color: $color_gray;
        &:before{
            content: '– '
        }
    }
}




code, pre{
    font-family: monospace;
    background:rgba(0, 0, 0, 0.05) none repeat scroll 0% 0%;
    color:rgba(0, 0, 0, 0.54);
    padding: 0.10em;
    border: 1px solid #b9b8b8;
}
