<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/stylesheets/print.css" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Pablo Reyes</title>
</head>

<body>
    <div id="container">
        <header>
            <h1>Pablo Reyes</h1>
            <h2>Personal Website</h2>
        </header>

        <aside id="sidebar">
            <section id="sidebar-picture">
                <img src="{{ site.url }}/images/me.jpg" />
            </section>
        </aside>

        <section class="content" id="main">
            {{ content }}
        </section>

    </div>
</body>
</html>