---
layout: default
---
<article class="post-container post-container--single">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{ page.date | date: '%Y-%m-%d' }}" class="post-meta__date date">{{ page.date | date: "%-d %b %Y" }}</time>
      <span class="post-meta__separator" aria-hidden="true">·</span>
      <span class="post-meta__author">{{ site.author.name }}</span>

      {% assign rawtags = "" %}
      {% assign ttags = page.tags | join:'|' | append:'|' %}
      {% assign rawtags = rawtags | append:ttags %}
      {% assign rawtags = rawtags | split:'|' | sort %}

      {% assign tags = "" %}
      {% for tag in rawtags %}
        {% if tag != "" %}
          {% if tags == "" %}
            {% assign tags = tag | split:'|' %}
          {% endif %}
          {% unless tags contains tag %}
            {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
          {% endunless %}
        {% endif %}
      {% endfor %}

      <ul class="tags">
        {% for tag in tags %}
          <li><a href="/tags/{{ tag | slugify }}" class="tag"> {{ tag }} </a></li>
        {% endfor %}
      </ul>


    </div>

    <h1 class="post-title ye">{{ page.title }}</h1>

    {% if page.image %}
      <div class="featured-image-container">
        <img src="{{ page.image | relative_url }}" alt="{{ page.title | escape }}" class="post-image-featured" decoding="async" fetchpriority="high">
        {% if page.image_credit %}<small class="image-credit">{{ page.image_credit }}</small>{% endif %}
      </div>
    {% endif %}
  </header>

  <section class="post-content">
    {{ content }}
  </section>

  {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section>
  <!-- /#disqus_thread -->
  {% endif %}
</article>
{% if page.comments != false %}{% include disqus.html %}{% endif %}
